@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}
.max-width{
    max-width: 130rem;
    padding: 0 8rem;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0rem 0.5rem 0.8rem #888888;
}
.navbar .logo{
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
} 
.navbar .menu li a{
    color: black;
    font-weight: 500;
    margin-left: 2.5rem;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(215, 14, 14);
}
/*menu button styling*/
.menu-btn{
    font-size: 2.9rem;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    margin-top: 8rem;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("../ASSETS/IMAGES/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 50rem;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home .max-width{
    margin: auto 0 auto 4rem;
}
.home .home-content .text-1{
    font-size: 2.7rem;
    color: #fff;
}
.home .home-content .text-2{
    font-size: 7.5rem;
    font-weight: 600;
    margin-left: -0.3rem;
    color: #fff;
}
.home .home-content .text-3{
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #fff;
}
.home .home-content .text-3 span{
    font-size: 3.5rem;
    margin: 0.5rem 0;
    color: rgb(196, 38, 38);
    font-weight: 500;
}
.home .home-content button{
    background-color: rgb(30, 29, 29);
    color: #fff;
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    border: 0.3rem solid;
    border-radius: 3em;
    margin-top: 1.6rem;
}
.home .home-content button:hover{
    transition: color 0.2s ease-in;
    color: #ff004f;
    width: 14.7rem;
}

/*about section styling*/
section{
    padding: 10rem 0;
}
.about, .skills, .projects {
    font-family: 'Poppins', sans-serif;
}
.about .title , 
.skills .title,
.projects .title,
.services .title{
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
}
.skills .title::before,
.about .title::before,
.projects .title::before,
.services .title::before{
    content: "";
    position: absolute;
    bottom: 0rem;
    background: rgb(196, 38, 38);
    left: 50%;
    width: 19rem;
    height: 0.3rem;
    transform: translateX(-50%);
}
.about .about-content,
.skills .skills-content,
.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img , 
.skills .skills-content .left img,
.projects .projects-content .work img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 2rem;
}
.about .about-content .right{
    width: 50%;
}
.about .about-content .right .text{
    font-size: 2.5rem;
    color: rgb(196, 38, 38);
    font-weight: 700;
    margin-bottom: 1rem;

}
.about .about-content .right p, 
.skills .skills-content .left p{
    text-align: justify;
    font-size: 1.6rem;
    color: black;
    font-weight: 100;
}
.about .about-content button{
    background-color: rgb(30, 29, 29);
    color: #fff;
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1.6rem;
    box-shadow: 0.5rem 0.5rem 0.8rem #888888;
}
.about .about-content button:hover{
    transition: color 0.2s ease-in;
    color: rgb(196, 38, 38);
    font-weight: bold;
    width: 14.7rem;
}
.skills{
    background: rgb(30, 29, 29);
}
.skills .title{
    color: #fff;
}
.skills .skills-content .column{
    width: calc(50% - 3rem);
}
.skills .skills-content .left .text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.skills .skills-content .left p{
    color: #fff;
}
.skills .skills-content .right .info{ 
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}
.skills .skills-content .right .bars{
    margin-bottom: 1.5rem;
}
.skills .skills-content .right .line{
    height: 0.5rem;
    width: 100%;
    background: lightslategray;
    position: relative;
}
.skills .skills-content .line::before{
   content: "";
   position: absolute;
   height: 100%;
   left: 0;
   background: rgb(183,0,0);
}
.skills .skills-content .html::before{
    width: 90%;
}
.skills .skills-content .css::before{
    width: 80%;
}
.skills .skills-content .java::before{
    width: 55%;
}
.skills .skills-content .mysql::before{
    width: 60%;
}
.skills .skills-content .database::before{
    width: 65%;
}
.skills .skills-content .modelling::before{
    width: 85%;
}
.skills .skills-content .lightroom::before{
    width: 65%;
}

.projects-content .work{
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.projects-content .layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #536976);
    border-radius: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    color: #fff;
}
.projects-content .layer h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.projects-content .layer p{
    font-size: 1.4rem;
}
.projects-content .layer a{
    margin-top: 2rem;
    color: #ff004f;
    text-decoration: none;
    font-size: 2rem;
    line-height: 5.5rem;
    background: #fff;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    text-align: center;
}

.services{
    background: rgb(30, 29, 29);
}
.services .title{
    color: #fff;
}
  

.services-content .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  .service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background: #302e2e;
    transition: transform 0.5s, background 0.5s;
  }
  
  .service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(196, 38, 38);
  }
  
  .service h2 {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .service:hover {
    background: rgb(196, 38, 38);
    color: #fff;
    transform: scale(1.05);
  }
  
  .service:hover i {
    color: #fff;
  }

















/*responsiveness - start*/
@media (max-width: 130.0rem){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 110.4rem){
    .about .about-content .left img,
    .skills .skills-content .left img{
        height: 35rem;
        width: 35rem;
    }
}

@media (max-width: 99.1rem){
    .max-width{
        padding: 0 5rem;
    }
}

@media (max-width: 94.7rem){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        background: rgb(228, 228, 228);
        top: 0;
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left:0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu a{
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }

    .home .home-content .text-2{
        font-size: 7.0rem;
    }
    .home .home-content .text-3{
        font-size: 3.5rem;
    }
    .max-width{
        max-width: 80rem;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 6rem;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 69rem){
    .max-width{
        padding: 0 2.3rem;
    }
    .home .home-content .text-2{
        font-size: 6.0rem;
    }
    .home .home-content .text-3{
        font-size: 3.2rem;
    }
    .home .home-content button{
        height: 5.7rem;
        width: 15rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 50rem){
    .home .home-content .text-2{
        font-size: 5.0rem;
    }
    .home .home-content .text-3{
        font-size: 2.7rem;
    }
    .home .home-content button{
        height: 5.7rem;
        width: 15rem;
        font-size: 1.8rem;
    }
}